.App {
  min-height: 100vh;
  display: flex;
}

.App-logo {
  pointer-events: none;
}

footer {
  margin-top: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e31337;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
