/* Modifications on width of label(s) -> InputGroup.Text */
.input-group-text:not(.normal) {
  width: 30% !important;
}
.list-group-item.active {
  background-color: white;
  border-color: lightgrey;
}
